* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
label,
input {
  display: block;
}
input {
  width: 100%;
}
label {
  color: rgb(11, 165, 11);
}
.submit {
  margin: 20px auto;
  width: 25%;
  background-color: rgb(114, 114, 175);
  border-radius: 5px;
}
form {
  min-width: 300px;
  max-width: 500px;
  margin: auto;
  border: 2px solid black;
  padding: 40px;
}
